@{
    var hideNavbar = ViewData["HideNavbar"] as bool? ?? false;
    var hideFooter = ViewData["HideFooter"] as bool? ?? false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eTickets</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>

<body class="@(ViewData["LockScroll"] as bool? == true ? "home-lock-scroll" : "")">
    <div class="d-flex flex-column min-vh-100">

        @if (!hideNavbar)
        {
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-gradient shadow-sm mb-3">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index">
                                        <img src="logo/LogoNihongoSekaiPNGBackground.png" width="100px" height="100px" />
                                    </a>
                                </li>

                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bi bi-gear"></i> Management
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-controller="Cinemas" asp-action="Index"><i class="bi bi-camera-reels"></i> Cinemas</a>
                                            <a class="dropdown-item" asp-controller="Producers" asp-action="Index"><i class="bi bi-headset"></i> Producers</a>
                                            <a class="dropdown-item" asp-controller="Actors" asp-action="Index"><i class="bi bi-person-square"></i> Actors</a>
                                        </div>
                                    </li>
                                }
                            </ul>

                            <form class="form-inline my-2 my-lg-0" asp-controller="Movies" asp-action="Filter" style="padding-right: 25px;">
                                <input name="searchString" type="text" class="form-control" placeholder="Search for a movie..." aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                            </form>

                            <ul class="navbar-nav">
                                @await Component.InvokeAsync("ShoppingCartSummary")
                            </ul>

                            <partial name="_Identity.cshtml" />
                        </div>
                    </div>
                </nav>
            </header>
        }

        <main class="flex-grow-1">
            @RenderBody()
        </main>

        @if (!hideFooter)
        {
            <footer class="footer text-muted text-center">
                <div class="container">
                    &copy; NihongoSekai - Development Team
                </div>
            </footer>
        }
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
